[Unit]
Description=Install 3rd Party Applications Service
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/local/sbin/install-3rd-party-apps

[Install]
WantedBy=multi-user.target
