name: Manual Build and Upload Artifacts

on:
  workflow_dispatch:

jobs:
  build_and_upload:
    runs-on: [self-hosted, linux]
    timeout-minutes: 600 # 10 hours

    steps:
      - name: Remove all files and folders in working directory
        run: |
          sudo rm -rfv *

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get -y install --no-install-recommends \
                git vim parted \
                quilt coreutils qemu-user-static debootstrap zerofree zip dosfstools \
                libarchive-tools libcap2-bin rsync grep udev xz-utils curl xxd file kmod bc\
                binfmt-support ca-certificates qemu-utils kpartx fdisk gpg pigz\
                build-essential flex bison gcc-arm-linux-gnueabihf gcc-aarch64-linux-gnu libssl-dev\
                jq unzip

      - name: Run build script
        run: |
          sudo ./build.sh

      #- name: Upload Raspbian-lite image
      #  uses: actions/upload-artifact@v2
      #  with:
      #    name: Raspbian-lite
      #    path: deploy/*Raspbian-lite.zip

      - name: Upload Raspbian image
        uses: actions/upload-artifact@v2
        with:
          name: Raspbian
          path: deploy/*Raspbian.zip

      - name: Upload Raspbian-full image
        uses: actions/upload-artifact@v2
        with:
          name: Raspbian-full
          path: deploy/*Raspbian-full.zip
